base_model_files/*
experimental_model/*
hagfors_flopy_prep/*
experimental_ppoints/*
hagfors_ss_template/*
temp_ss_pst_from/*
temp_lr_prep/*
temp_flopy_lumprem/*
temp_ml_param/*
temp_ml_obs/*
temp_ml_calib/*
master_ss/*
worker_0/*
worker_1/*
2022_01_22_ok_2week_out/*
2022_01_20_15iter_sfr_rtp_model/*
2022_01_31_ghbfail/*
2022_03_16_calib/*
2022_03_16_ies/*
2022_03_18_calib/*
2022_04_10_ies/*
2023_02_05_ies/*
temp_ml_ies/*
temp_lr_calib/*
manuscript/*
hpc_prep/*
hpc_prep.zip