base_model_files/*
experimental_model/*
hagfors_flopy_prep/*
experimental_ppoints/*
hagfors_ss_template/*
temp_ss_pst_from/*
temp_lr_prep/*
temp_flopy_lumprem/*
temp_ml_param/*
temp_ml_obs/*
temp_ml_calib/*
master_ss/*
worker_0/*
worker_1/*
hpc_prep/*
hpc_prep.zip